In [1]:
import os

# all notebooks need to run from the root directory
# this will check to see if the current working directory is notebooks, if so, it will change
# to root directory.  if already in the root directory, will not modify
if "notebooks" in os.getcwd():
    os.chdir("..")

from src.utility.get_data import get_non_profit_text_df, get_non_profit_df

In [2]:
df_text = get_non_profit_text_df()
df_text.head()

Downloading nonprofit.txt...
Downloading nonprofit_text.txt...

,nonprofit_text_id,reporting_year,nonprofit_id,grouptype,description
0,10,2020,4553,charitablegroup,MAINTAIN AND BEAUTIFY THE DEGREGORIE PARK MAIN...
1,11,2019,4978,charitablegroup,PROVIDING HOUSING AND RESIDENTIAL SERVICES FOR...
2,12,2017,37,charitablegroup,PROVIDING SCHOLARSHIPS AND EDUCATIONS ASSISTAN...
3,13,2020,78,charitablegroup,SUBSISTENCE GRANTS TO INDIGENT SEAMEN BENEFICI...
4,14,2020,81,charitablegroup,The organization's resources are devoted entir...

In [3]:
df_np = get_non_profit_df()
df_np.head()

,nonprofit_id,reporting_year,ein,businessname,phone,address1,address2,city,stabbrv,zip
0,10,2021,10274998,MOUNT ST JOSEPH,2078730705,7 HIGHWOOD STREET,7 HIGHWOOD STREET,WATERVILLE,ME,04901
1,11,2020,10275026,BELFAST CURLING CLUB,2073389851,PO BOX 281 BELMONT AVE,PO BOX 281 BELMONT AVE,BELFAST,ME,04915
2,12,2021,10275130,Unity College,2075097100,90 Quaker Hill Road,90 Quaker Hill Road,Unity,ME,04988
3,13,2020,10275156,Western Maine Community Action Inc,2076453764,20 Church Street,20 Church Street,East Wilton,ME,04324
4,14,2020,10275159,JUNIOR ACHIEVEMENT OF MAINE INC,2073474333,565 CONGRESS STREET NO 306,565 CONGRESS STREET NO 306,PORTLAND,ME,04101